* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #459D7A;
    --footer-primary-color: #1D2128;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
    display: block;
}

.white-text {
    color: #fff;
}

.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navbar {
    list-style: none;
    display: flex;
}

.header__navbar li a {
    line-height: 63px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    padding: 0 15px;
    display: block;
}

.header__logo {
    display: flex;
}

.header__control {
    display: flex;
    align-items: center;
}

.header__control .header__contorl-input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    outline: none;
}

.header__control .header__contorl-input::placeholder,
.category-section .search__contorl-input::placeholder {
    opacity: 0.2;
}

.category-section {
    display: flex;
    justify-content: space-around;
    margin: 64px 25px
}

.banner__img {
    position: relative;
    width: 100%;
}

#container .banner__content {
    position: absolute;
    top: 166px;
    left: 140px;
}

.banner__content .banner__content-title {
    font-size: 62px;
    font-weight: 600;
}

.banner__content .banner__content-description {
    font-size: 24px;
}

.category-section button,
.search__contorl-input {
    height: 56px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.filter {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.filter .filter__item {
    width: 190px;
    color: var(--primary-color);
    background-color: #fff;
}

.filter__item.filter__item--used {
    color: #fff;
    background-color: var(--primary-color);
}

.search {
    display: flex;
    align-items: center;
}

.search__contorl-input {
    width: 250px;
    margin: 0px 26px;
    padding: 0 34px;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.search__filter-button {
    width: 140px;
    background-color: #F3F4F6;
    color: rgba(0, 0, 0, 0.5);
}

.sell-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sell-section .product-item {
    display: inline-block;
}

.product-item {
    text-decoration: none;
    margin: 0 19px 76px 19px;
}

.product-item__img-section {
    width: 282px;
    height: 355px;
    position: relative;
}

.product-item__img {
    width: 100%;
}

.product-item__img-tag {
    top: 12px;
    right: 12px;
    padding: 6px 8px;
    border-radius: 20px;
    color: #B58333;
    background-color: #FFC970;
    position: absolute;
}

.product-item__content {
    color: #333;
}

.product-item__title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.product-item__description {
    font-size: 16px;
    margin-top: 4px;
}

.product-item__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.product-item__price {
    font-size: 38px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.product-item__original-price {
    font-size: 20px;
    opacity: 0.4;
    margin: 0 18px;
}

.page-controller {
    display: flex;
    justify-content: center;
    margin: 30px 0 100px;
}

.page-controller button {
    border: none;
    background-color: #fff;
    font-size: 15px;
    color: #9196a1;
}

.page-controller button:hover {
    color: var(--primary-color);
    background-color: #f4faf8;
}

.page-controller__left-icon {
    margin-right: 8px;
}

.page-controller__right-icon {
    margin-left: 8px;
}

.page-controller__page-number {
    padding: 0 12px;
    margin: 0 7px;
    border-radius: 50%;
}

#footer {
    display: flex;
    padding: 76px 114px 76px;
    color: #ccc;
    background-color: var(--footer-primary-color);
    justify-content: space-between;
}

.footer-left {
    display: flex;
}

.footer__item {
    margin: 0 26px;
}

.footer__item .footer__list {
    list-style: none;
    font-size: 18px;
}

.footer-left .footer__item .footer__list>li {
    margin: 20px 0;
}

.footer__list-select select {
    width: 133px;
    height: 38px;
    padding: 8px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    background-color: var(--footer-primary-color);
}

.footer-left .footer__item .footer__list li:first-child {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.footer-right .footer__item .footer__list>li {
    margin: 14px 0;
}

.footer-right .footer__list .footer__list-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.footer-right .footer__list .footer__list-input {
    padding: 15px 94px 15px 22px;
    font-size: 18px;
    border: 2px solid #6e737d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--footer-primary-color);
}

.footer-right .footer__list .footer__list-input::placeholder {
    color: #ccc;
}

.footer-right .footer__list .footer__list-subcribe-button {
    color: #fff;
    font-size: 18px;
    padding: 16.5px 31px;
    margin-left: -4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-color);
    border: none;
}

.footer__list-brand {
    display: flex;
}

.footer__list-brand-img {
    margin: 0 4px;
}